header {
    width: calc(100% - 480px);
    margin: 0 auto;
    height: 60px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
}

header > p {
    margin-top: 30px;
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 480px);
}

.title-wrap-02 {
    display: flex;
}

h1 {
    font-size: 180px;
}

h2 {
    font-size: 40px;
    margin-top: 14px;
}

